<div class="row">
    <div class="col-9">
        <h2 class="text-info">Order List</h2>
    </div>
</div>
<div class="container rounded border p-2 m-2">
    <table id="tblData" class=" table table-hover table-striped table-bordered table-active">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts {
    <script src="~/js/order.js"></script>
}